<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>crudsupport</display-name>
  <welcome-file-list>
    <welcome-file>ListarProdutosServlet</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastrarProdutoServlet</display-name>
    <servlet-name>CadastrarProdutoServlet</servlet-name>
    <servlet-class>crudsupport.CadastrarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarProdutoServlet</servlet-name>
    <url-pattern>/CadastrarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarProdutoServlet</display-name>
    <servlet-name>DeletarProdutoServlet</servlet-name>
    <servlet-class>crudsupport.DeletarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarProdutoServlet</servlet-name>
    <url-pattern>/DeletarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarProdutosServlet</display-name>
    <servlet-name>ListarProdutosServlet</servlet-name>
    <servlet-class>crudsupport.ListarProdutosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProdutosServlet</servlet-name>
    <url-pattern>/ListarProdutosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarProdutoServlet</display-name>
    <servlet-name>EditarProdutoServlet</servlet-name>
    <servlet-class>crudsupport.EditarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarProdutoServlet</servlet-name>
    <url-pattern>/EditarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarServlet</display-name>
    <servlet-name>EditarServlet</servlet-name>
    <servlet-class>crudsupport.EditarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarServlet</servlet-name>
    <url-pattern>/EditarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscaPorNomeServlet</display-name>
    <servlet-name>BuscaPorNomeServlet</servlet-name>
    <servlet-class>crudsupport.BuscaPorNomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaPorNomeServlet</servlet-name>
    <url-pattern>/BuscaPorNomeServlet</url-pattern>
  </servlet-mapping>
</web-app>